@mixin center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@mixin container($bg) {
	background: $bg;

	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 8px;
	margin-bottom: 8px;
}

@mixin item($bg, $color) {
	background: $bg;
	color: $color;

	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
}

body {
	font-family: "Lucida Console", Monaco, monospace;
	background: #ebebe0;
}

div {
	cursor: default;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#all-chords-container, #allowed-chords-container, #chosen-chords-container, #allowed-keys-container, #allowed-notes-container, #chosen-notes-container {
	@include container(white);
}

#chosen-chords-container {
	flex-wrap: nowrap;
	height: 72px;
}

#chosen-notes-container {
	height: 50px;
	position: relative;
}

.all-chords, .allowed-chords, .allowed-notes {
	@include item(navy, white);

	font-size: 1.4em;
	float: left;
	margin: 5px;
	padding: 3px;
}

.chosen-chords {
	color: white;
	border: 1px solid black;
	text-align: center;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 2.8em;
	float: left;
	height: 64px;
	width: 25%;
	padding-top: 7px;
	overflow: hidden;
}

.allowed-notes {
	width: 50px;
}

.chosen-notes {
	color: white;
	text-align: center;
	padding-top: 11px ;
	width: 30px;
	font-size: 1.4em;
	position: absolute;
	height: 39px;
}

.keys {
	@include item(white, black);

	font-size: 2em;
	float: left;
	margin: 7px;
	padding: 5px;
}

.play-button-container {
	@include center;
}

.play-button {
	@include item(black, white);
	font-size: 3em;
	padding: 5px;
	margin: 9px;
}

.play-button-options {
	@include item(black, white);
	font-size: 1.3em;
	padding: 5px;
	margin: 9px;
}

.amaj, .a{
	background: #006600;
}
.amin {
	background: #339933;
}
.bmaj, .b {
	background: #003366;
}
.bmin {
	background: #336699;
}
.cmaj, .c {
	background: #cc0000;
}
.cmin {
	background: #ff5050;
}
.dmaj, .d {
	background: #cc3300;
}
.dmin {
	background: #ff9900;
}
.emaj, .e {
	background: #0033cc;
}
.emin {
	background: #0066ff;
}
.fmaj, .f {
	background: #800000;
}
.fmin {
	background: #993333;
}
.gmaj, .g {
	background: #660066;
}
.gmin {
	background: #9900cc;
}

#authH1 {
	font-family: "Great Vibes", cursive;
	font-size: 3em;
	padding: 2%;
	margin-bottom: 3%;
	white-space: nowrap;
	font-weight: bold;
	color: #000080;
	display: flex;
	justify-content: center;
}

#authH2 {
	font-size: 1.5em;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	padding-bottom: 2%;
	display: flex;
	white-space: nowrap;
	justify-content: center;
}

#user {
	padding: 2%;
	display: flex;
	justify-content: center;
}

#pass {
	padding: 2%;
	display: flex;
	justify-content: center;
}

#username {
  transition: box-shadow 0.3s, border 0.3s;
}

#password {
  transition: box-shadow 0.3s, border 0.3s;
}

.centerButtons {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.makeSong {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

#makeSongButton {
  text-align: center;
   background: #000080;
   color: white;
   font-size: 22px;
   font-family: 'Trebuchet MS', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
}

#makeSongButton:hover {
  cursor: pointer;
  background: #0000F0
}

#submit {
  margin-right: 5%;
	text-align: center;
   background: #2CA01C;
   color: #172852;
   font-size: 22px;
   font-family: 'Trebuchet MS', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   }
#submit:hover {
   background: #2cFF1c;
   cursor: pointer;
   }
#submit:active {
   border-top-color: #051621;
   background: #051621;
}

#swap {
   height: 75%;
   background: #2CA01C;
   color: #172852;
   font-size: 22px;
   font-family: 'Trebuchet MS', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   }
#swap:hover {
   background: #2cFF1c;
   cursor: pointer;
   }
#swap:active {
   background: #051621;
   }


#authSection {
  border-radius: 10%;
	display: flex;
	justify-content: center;
	width: 38%;
	background-color: #F5F5F5;
	margin: auto;
	margin-top: 12%;
	display: block;
}

