$primaryColor: #cc2900;

@mixin center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@mixin container($bg) {
	background: $bg;

	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 8px;
	margin-bottom: 8px;
}

@mixin item($bg, $color) {
	background: $bg;
	color: $color;

	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
}

body {
	font-family: "Lucida Console", Monaco, monospace;
	background: #ebebe0;
}

div {
	cursor: default;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#all-chords-container, #allowed-chords-container, #chosen-chords-container, #allowed-keys-container, #allowed-notes-container, #chosen-notes-container {
	@include container(white);
	margin: 11px 0px 11px 0px;
}

#allowed-chords-container, #allowed-notes-container {
	flex-wrap: nowrap;
}

#all-chords-container {
	justify-content: center;
	align-items: center;
}

#chosen-chords-container {
	flex-wrap: nowrap;
	height: 74px;
}

#chosen-notes-container {
	height: 50px;
	position: relative;
}

#loopNumber {
	font-size: 16px;
}

.mainColor {
	color: $primaryColor;
}

.all-chords, .allowed-chords, .allowed-notes {
	@include item(#3a3a2c, white);
	flex-grow: 1;

	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 1.9em;
	float: left;
	border-radius: 3px;
	margin: 7px;
	padding: 4px 7px 4px 7px;
}

.all-chords {
	width: 200px;
}

.allowed-chords {
	font-size: 1.95em;
	padding: 7px;
}

.chosen-chords {
	color: white;
	border: 1px solid black;
	text-align: center;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 2.8em;
	float: left;
	height: 64px;
	width: 25%;
	padding-top: 8px;
	overflow: hidden;
}

.allowed-notes {
	font-size: 34px;
	width: 80px;
}

.chosen-notes {
	color: white;
	text-align: center;
	padding-top: 11px ;
	width: 30px;
	font-size: 1.4em;
	position: absolute;
	height: 39px;
}

.keys {
	@include item(white, black);
	flex-grow: 1;

	font-size: 1.7em;
	float: left;
	padding: 5px;
}

.play-record-controls{ 
	display: flex;
	justify-content: center; 
}

.play-button {
	background: white;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  font-size: 71px;
  margin: 9px;
  width: 98px;
  padding-bottom: 10px;
}

.recording-button{
	@extend .play-button;
	width: 90px;
	height: 90px;
	background: #CC0000;
	border-radius: 50px;
	margin-top: 15px;
}

.music-buttons-container {
	@include item(white, black);
	font-size: 1.38em;
	padding: 7px;
	margin-top: 20px;
}

.amaj, .a{
	background: #006600;
}
.amin {
	background: #339933;
}
.bmaj, .b {
	background: #003366;
}
.bmin {
	background: #336699;
}
.cmaj, .c {
	background: #cc0000;
}
.cmin {
	background: #ff5050;
}
.dmaj, .d {
	background: #cc3300;
}
.dmin {
	background: #ff9900;
}
.emaj, .e {
	background: #0033cc;
}
.emin {
	background: #0066ff;
}
.fmaj, .f {
	background: #800000;
}
.fmin {
	background: #993333;
}
.gmaj, .g {
	background: #660066;
}
.gmin {
	background: #9900cc;
}

.title {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  font-size: 6.55em;
  letter-spacing: 5px;
}

#user {
	margin-top: 10px;
}

#pass {
	margin-top: 10px;
}

#currUser {
	position: absolute;
	top: 2px;
	right: 3px;
}

.login {
  transition: box-shadow 0.3s, border 0.3s;
  font-size: 1.2em;
  width: 26%;
}

.buttons-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
	margin-left: auto;
	margin-right: auto;
  text-align: center;
  background: $primaryColor;
  color: white;
  border-radius: 5px;
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
}

.buttons:hover {
  background: white;
  color: $primaryColor;
}

.saved-songs-container {
	@extend .buttons-container;
	flex-direction: row;
}

.savedSongBtns {
	@extend .buttons;
	font-size: 1.4em;
	margin: 9px;
	padding: 6px;
}

.authSection {
	display: block;
	margin-top: 7%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.musicBtns {
	@extend .buttons;
	font-size: 1.2em;
	height: 38px;
	padding: 4px 10px 4px 10px;
}

.loginBtn{
	width: 29%;
	font-size: 2.5em;
	letter-spacing: 9px;
}

.switchViewsBtn {
	width: 25%;
	font-size: 1.5em;
}

.makeSongBtn {
	width: 21.5%;
	font-size: 1.4em;
}

.viewSongsBtn {
	width: 16%;
	font-size: 1.3em;
}
@keyframes blink {  
    0% { background: red; }
    100% { background: none; }
}
.blink {
  animation: blink 1s linear infinite;
} 