<section class="authSection" ng-cloak>
  <h1 class="title">so<span class="mainColor">ng</span>maker</h1>
  <form name="authForm" ng-submit="authenticate(user)">
    <div id ="user">
      <label class="login">username:</label>
      <input type="text" class="login" required ng-model="user.username">
    </div>
    <div id="pass">
      <label class="login">password:</label>
      <input type="password" class="login" required ng-model="user.password">
    </div>
    <div class="buttons-container">
      <button class="buttons loginBtn" type="submit" ng-disabled="authForm.$invalid">{{buttonText}}</button><br>
      <button class="buttons switchViewsBtn" type="button" ng-click="switchAuthView()">{{userRelation}}</button>
    </div>
  </form>
  <div class="buttons-container">
    <button class="buttons makeSongBtn" ng-click="makeSong()">make songs</button><br>
    <button class="buttons viewSongsBtn" ng-click="viewSongs()">view songs</button>
  </div>


</section>


